header {
	background-color: pink;
	height: 100px;
	margin-bottom: 15px;
}

#main-left {
	background-color: purple;
	float: left;
	height: 300px;
	margin-bottom: 15px;
	width: 49%;
}

#main-right {
	background-color: red;
	float: right;
	height: 300px;
	margin-bottom: 15px;
	width: 49%;
}

#sub-left {
	background-color: orange;
	float: left;
	height: 125px;
	margin-bottom: 10px;
	width: 32%;
}

#sub-center {
	background-color: yellow;
	float: left;
	height: 125px;
	margin-bottom: 10px;
	margin-left: 15px;
	margin-right: 15px;
	width: 32%;
}

#sub-right {
	background-color: green;
	float: right;
	height: 125px;
	margin-bottom: 10px;
	width: 32%;
}

footer {
	background-color: blue;
	clear: both;
	height: 100px;
}